.wrapper {
  max-width: 600px;
  width: 100%;
}

.itembun {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
}

.filling {
  max-height: 465px;
  padding: 0;
  margin: 16px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order {
  display: flex;
  justify-content: end;
  gap: 40px;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}